# Build output
main.js
*.js.map

# Dependencies
node_modules/

# IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# OS
.DS_Store
Thumbs.db

# Obsidian
data.json

# TypeScript
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
